*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  position: relative;
}

.mobile-h2 {
  display: none;
}

.mobile-links {
  display: none;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  background-image: url("/images/hero-mtns.jpg");
  background-size: cover;
  background-position: 0% 43%;
}

.nav-links {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.nav-links > a {
  padding: 0.2rem 0.5rem;
  text-decoration: none;
  font-weight: 300;
  color: #a9abaa80;
  letter-spacing: 2px;
  border: 1px solid rgb(225, 154, 154);
  border-radius: 2px;
  transition: 200ms ease-in-out;
}

.nav-links > a:hover {
  background-color: rgb(225, 154, 154);
  color: #080c0f;
}

.text-container {
  display: flex;
  align-items: center;
}

.text-container > h1 {
  font-size: 16rem;
  font-weight: 100;
  color: #080c0f;
  margin: 0;
}

.letter-o {
  width: 200px;
  height: 200px;
  background-color: #080c0f;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.inner-o {
  width: 189px;
  height: 189px;
  background-color: rgb(225, 154, 154);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms ease-in-out;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 5rem;
  font-weight: 700;
}

.hero-text h2 {
  margin: 0;
  font-size: 9.2rem;
  font-weight: 200;
  margin-bottom: -4rem;
}

.hero-description {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-wrapper > h3 {
  color: #a9abaa80;
  font-weight: 300;
}

.nav-wrapper > h3 > span {
  color: rgb(227, 125, 125);
  font-weight: 300;
}

.hero-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-name > h1 {
  font-size: 7rem;
  color: #ffffff5e;
  margin: 0;
}

.about {
  min-height: 100dvh;
  background-color: #080c0f;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about-text {
  align-self: flex-end;
  max-width: 25rem;
  color: #ffffff5e;
  letter-spacing: 2px;
  line-height: 25px;
  text-align: justify;
}

.about-container > h2 {
  margin: 0;
  font-size: 9.2rem;
  font-weight: 100;
  color: #ffffff5e;
  border-bottom: 1px solid #ffffff5e;
  margin-bottom: 1rem;
}

.projects {
  min-height: 100dvh;
  background-color: #080c0f;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.projects-list {
  color: #ffffff5e;
  letter-spacing: 2px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.projects-container > h2 {
  margin: 0;
  font-size: 9.2rem;
  font-weight: 100;
  color: #ffffff5e;
  margin-bottom: 1rem;
}

.project-card {
  display: flex;
  width: 45rem;
  border: 1px solid #ffffff5e;
  border-radius: 2px;
  margin-top: 5rem;
}

.project-pictures {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  width: 40%;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.project-pictures > a {
  padding: 0.1rem 0.5rem;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.7rem;
  color: #a9abaa80;
  letter-spacing: 2px;
  border: 1px solid rgb(225, 154, 154);
  border-radius: 2px;
  transition: 200ms ease-in-out;
}

.project-pictures > a > i {
  margin-right: 0.2rem;
}

.project-pictures > a:hover {
  background-color: rgb(225, 154, 154);
  color: #080c0f;
}

.project-description {
  width: 60%;
}

.project-description > h3 {
  font-weight: 100;
  font-size: 2rem;
  color: rgb(225, 154, 154);
  margin: 0;
  margin-top: 1rem;
}

.img-one {
  width: 300px;
  height: auto;
  position: absolute;
  left: -5rem;
  top: -5rem;
  border: 1px solid rgb(225, 154, 154);
  border-radius: 4px;
}

.tech-stack {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: flex-end;
  padding-right: 1rem;
}

.stack-badge {
  color: #080c0f;
  font-size: 0.6rem;
  padding: 0 0.3rem;
  border-radius: 2px;
  background-color: rgb(225, 154, 154);
}

.contact {
  min-height: 100dvh;
  background-color: #080c0f;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.contact-container > h2 {
  margin: 0;
  font-size: 9.2rem;
  font-weight: 100;
  color: #ffffff5e;
  border-bottom: 1px solid #ffffff5e;
  margin-bottom: 1rem;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
}

.contact-icons > a {
  font-size: 8rem;
  color: #ffffff5e;
  transition: 200ms ease-in-out;
}

.contact-icons > a:hover {
  color: rgb(225, 154, 154);
}

@media only screen and (max-width: 600px) {
  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
  .hero-text > h2 {
    margin: 0;
    font-size: 5rem;
    font-weight: 200;
  }

  .text-container > h1 {
    display: none;
  }

  .mobile-h2 {
    display: flex;
    color: #ffffff5e;
  }

  .letter-o {
    display: none;
  }

  .inner-o {
    display: none;
  }

  .hero-description {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    margin: 0 0.2rem;
    justify-content: space-between;
  }

  .nav-links > a {
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    font-weight: 300;
    color: #090d10;
    letter-spacing: 2px;
    background-color: rgb(225, 154, 154);
    border-radius: 2px;
    transition: 200ms ease-in-out;
  }

  .mobile-links > a {
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    font-weight: 300;
    color: #090d10;
    letter-spacing: 2px;
    background-color: rgb(225, 154, 154);
    border-radius: 2px;
  }

  .nav-wrapper > h3 {
    padding-left: 1rem;
  }

  .about-text {
    color: #ffffff5e;
    letter-spacing: 2px;
    line-height: 25px;
  }

  .about-container {
    padding: 1rem;
  }

  .about-container > h2 {
    margin: 0;
    font-size: 4rem;
    font-weight: 100;
    color: #ffffff5e;
    border-bottom: 1px solid #ffffff5e;
    margin-bottom: 1rem;
  }

  .projects-container > h2 {
    margin: 0;
    font-size: 4rem;
    font-weight: 100;
    color: #ffffff5e;
    margin-bottom: 1rem;
  }

  .img-one {
    display: none;
  }

  .project-card {
    display: flex;
    width: 100%;
    border: 1px solid #ffffff5e;
    border-radius: 2px;
    margin-top: 1rem;
    padding: 1rem;
  }

  .project-pictures {
    display: none;
  }

  .projects-container {
    max-width: 100dvw;
    padding: 1rem;
  }

  .projects-list {
    color: #ffffff5e;
    letter-spacing: 2px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .project-description {
    width: 100%;
  }

  .tech-stack {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .mobile-links {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
  }

  .contact-icons > a {
    font-size: 4rem;
  }

  .contact-container > h2 {
    font-size: 4rem;
  }
}
