:root {
  --brand: rgba(225, 154, 154, 1);
  --light-gray: rgba(255, 255, 255, 0.37);
  --links-gray: rgba(169, 171, 170, 0.5);
  --dark-gray: rgba(8, 12, 15, 1);
  --project-text: rgba(255, 255, 255, 0.86);
  --modal-overlay: rgba(74, 74, 74, 0.664);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  position: relative;
}

.mobile-h2 {
  display: none;
}

.mobile-links {
  display: none;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  background-image: url("/images/hero-mtns.jpg");
  background-size: cover;
  background-position: 0% 43%;
}

.nav-links {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.nav-links > a {
  padding: 0.2rem 0.5rem;
  text-decoration: none;
  font-weight: 300;
  color: var(--links-gray);
  letter-spacing: 2px;
  border: 1px solid var(--brand);
  border-radius: 2px;
  transition: 200ms ease-in-out;
}

.nav-links > a:hover {
  background-color: var(--brand);
  color: var(--dark-gray);
}

.text-container {
  display: flex;
  align-items: center;
}

.text-container > h1 {
  font-size: 16rem;
  font-weight: 100;
  color: var(--dark-gray);
  margin: 0;
}

.letter-o {
  width: 200px;
  height: 200px;
  background-color: var(--dark-gray);
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.inner-o {
  width: 189px;
  height: 189px;
  background-color: var(--brand);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms ease-in-out;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 5rem;
  font-weight: 700;
}

.hero-text h2 {
  margin: 0;
  font-size: 9.2rem;
  font-weight: 200;
  margin-bottom: -4rem;
}

.hero-description {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-wrapper > h3 {
  color: var(--links-gray);
  font-weight: 300;
}

.nav-wrapper > h3 > span {
  color: var(--brand);
  font-weight: 300;
}

.hero-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-name > h1 {
  font-size: 7rem;
  color: var(--light-gray);
  margin: 0;
}

.about {
  min-height: 100dvh;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  width: 31rem;
  color: var(--light-gray);
  letter-spacing: 2px;
  line-height: 25px;
  text-align: justify;
}

.up-arrow {
  width: 100%;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.up-arrow > i {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-in-out;
}

.up-arrow > i:hover {
  background-color: var(--brand);
  color: black;
}

.down-arrow {
  padding-top: 3rem;
  width: 100%;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.down-arrow > i {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-in-out;
}

.down-arrow > i:hover {
  background-color: var(--brand);
  color: var(--dark-gray);
}

.down-arrow,
.up-arrow {
  text-decoration: none;
  color: var(--links-gray);
}

.rotate-up {
  transform: rotateX(180deg);
}

.about-container > h2 {
  max-width: fit-content;
  margin: 0;
  font-size: 9.2rem;
  font-weight: 100;
  color: var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 1rem;
}

.about-container > a {
  height: 100%;
}

.projects {
  min-height: 100dvh;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 1rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.projects-list {
  color: var(--project-text);
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.projects-container > h2 {
  margin: 0;
  font-size: 9.2rem;
  font-weight: 100;
  color: var(--light-gray);
  margin-bottom: 3rem;
}

.project-card {
  display: flex;
  width: 45rem;
  border: 1px solid var(--light-gray);
  border-radius: 2px;
  margin-top: 5rem;
  transform: translateY(6rem);
  transition: 500ms ease-in-out;
  opacity: 0;
}

.project-card.fade-in {
  transform: translateY(0);
  opacity: 1;
}

.project-pictures {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  width: 40%;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.project-pictures > a {
  padding: 0.1rem 0.5rem;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.7rem;
  color: var(--light-gray);
  letter-spacing: 2px;
  border: 1px solid var(--brand);
  border-radius: 2px;
  transition: 200ms ease-in-out;
}

.project-pictures > a > i {
  margin-right: 0.2rem;
}

.project-pictures > a:hover {
  background-color: var(--brand);
  color: var(--dark-gray);
}

.project-description {
  width: 60%;
}

.project-description > h3 {
  font-weight: 300;
  font-size: 2rem;
  color: var(--brand);
  margin: 0;
  margin-top: 1rem;
}

.img-one {
  width: 300px;
  height: auto;
  position: absolute;
  left: -5rem;
  top: -5rem;
  cursor: pointer;
}

.project-img {
  width: 300px;
  height: auto;
  border: 1px solid var(--brand);
  border-radius: 4px;
}

.img-enlarge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand);
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--dark-gray);
}

.mobile-img {
  display: none;
}

.tech-stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-end;
  padding-right: 1rem;
}

.read-more {
  display: grid;
  grid-template-rows: 0fr;
  transition: 200ms ease-in-out;
}

.read-more.active {
  grid-template-rows: 1fr;
  padding-bottom: 1rem;
}

.read-more > div {
  overflow: hidden;
}

.read-more > div > h4 {
  font-weight: 400;
  color: var(--brand);
}

.read-more > div > p {
  font-weight: 100;
}

.stack-badge {
  align-self: flex-end;
  color: var(--dark-gray);
  font-size: 0.6rem;
  font-weight: 300;
  padding: 0 0.3rem;
  border-radius: 2px;
  background-color: var(--brand);
}

.stack-badge:hover {
  cursor: pointer;
}

.stack-badge > i {
  transition: 300ms ease-in-out;
}

.contact {
  min-height: 100dvh;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: center;
}

.contact-container > h2 {
  margin: 0;
  font-size: 9.2rem;
  font-weight: 100;
  color: var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 1rem;
}

.contact-icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.contact-icons > a {
  font-size: 8rem;
  color: var(--light-gray);
  transition: 200ms ease-in-out;
}

.contact-icons > a:hover {
  color: var(--brand);
}

.modal-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
  transition: 300ms ease-in-out;
  pointer-events: none;
}

.img-modal {
  opacity: 0;
  position: fixed;
  width: 750px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms ease-in-out;
  pointer-events: none;
}

.display-modal {
  opacity: 1;
  pointer-events: auto;
}

.img-modal > img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--brand);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
  .hero-text > h2 {
    margin: 0;
    font-size: 5rem;
    font-weight: 200;
  }

  .text-container > h1 {
    display: none;
  }

  .mobile-h2 {
    display: flex;
    color: var(--light-gray);
  }

  .letter-o {
    display: none;
  }

  .inner-o {
    display: none;
  }

  .hero-description {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 0.2rem;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links > a {
    width: 115px;
    display: flex;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    font-weight: 300;
    color: var(--dark-gray);
    letter-spacing: 2px;
    border: 1px solid rgba(9, 13, 16, 0.26);
    background-color: rgba(225, 154, 154, 0.387);
    border-radius: 4px;
    transition: 200ms ease-in-out;
  }

  .mobile-links > a {
    padding: 0.1rem 0.4rem;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.6rem;
    color: var(--dark-gray);
    letter-spacing: 2px;
    background-color: var(--brand);
    border-radius: 2px;
  }

  .nav-wrapper > h3 {
    padding-left: 1rem;
  }

  .about-text {
    color: var(--light-gray);
    letter-spacing: 2px;
    line-height: 25px;
    width: 100%;
  }

  .about-container {
    padding: 1rem;
    width: 100%;
  }

  .about-container > h2 {
    margin: 0;
    font-size: 4rem;
    font-weight: 100;
    color: var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
    margin-bottom: 1rem;
  }

  .projects-container > h2 {
    margin: 0;
    font-size: 4rem;
    font-weight: 100;
    color: var(--light-gray);
    margin-bottom: 1rem;
  }

  .img-one {
    display: none;
  }

  .project-card {
    display: flex;
    width: 100%;
    border: 1px solid var(--light-gray);
    border-radius: 2px;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }

  .project-pictures {
    display: none;
  }

  .projects-container {
    max-width: 100dvw;
    align-items: center;
    padding: 1rem;
  }

  .projects-list {
    color: var(--project-text);
    letter-spacing: 2px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .project-description {
    width: 100%;
  }

  .tech-stack {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .mobile-links {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
  }

  .contact-icons > a {
    font-size: 4rem;
  }

  .contact-container > h2 {
    font-size: 4rem;
  }

  .mobile-img {
    width: 100%;
    display: block;
    margin-top: 2rem;
    border: 1px solid var(--brand);
    border-radius: 4px;
  }
}
